
//font
$font-text: 'Baloo Tamma 2', cursive;
$font-default: 'Baloo Tamma 2', cursive;
$font-main-heading:  'Lobster Two', cursive;





//colors
// #b22126
// #152235
// #48576c

$color-brand: #f24360;
$color-brand2: #eaca94;
$color-brand3: #88B5B6;
$color-brand4: #94cad7;

$select-focus-color: #242452;
$color-black:#000000;
$color-white:#fff;
$color-off-white:#F5FCF0;
$color-text:#888787;
$color-grey:#b8b8b8;


$select-border-color: #ccc;


//font-size


$font-h1:36px;
$font-h2: 18px;
$font-h3:36px;
$font-h4: 25px;
$font-h5:36px;
$font-h6: 18px;
$font-size-banner:60px;
$font-heading:46px;
$font-sub-heading:28px;
$font-text:14px;


$primary: #dc5656;
$primary-ultralight: mix(rgb(230, 199, 199), $primary, 80%);
$primary-light: mix(white, $primary, 25%);
$primary-dark: mix(black, $primary, 25%);
$primary-ultradark: mix(black, $primary, 80%);
$black: #333333;
$white: #eeeeee;


// Button
